@{
    ViewBag.Title = "ViewAttendance";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Attendance
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        

                    </div>
                </div>
            </h1>

        </div>
    </div>
    @*<div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Teacher/TeacherDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Attendance Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Teacher/Attendance" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> <span>Add New</span> </a>
                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Date</th>
                                    <th>Batch Name</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Status</th>
                                    @*<th style="width: 10%;">Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Attendance != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.Attendance)
                                    {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.Attendance_Date.ToShortDateString()</td>
                                    <td>@item.Batch_Name</td>
                                    <td>@item.Customer_Name</td>
                                    <td>@item.Class_Name</td>
                                    @if (@item.Is_Present == true)
                                    {
                                        <td>Present</td>
                                    }
                                    else
                                    {
                                        <td>Absent</td>
                                    }
                                    @*<td>

                                        @Html.ActionLink(" ", "Attendance", "Teacher", new { aid = @item.Attendance_Id }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })


                                        @Html.ActionLink(" ", "Delete_Attendance", "Teacher", new { aid = @item.Attendance_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the attendance)", @data_original_title = "Delete", @title = "Delete" })

                                    </td>*@
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
