@{
    ViewBag.Title = "ViewResultDetail";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<form id="Ticke_form" class="form-horizontal">
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-table"></i>Test Result Detail</h3>

                    </div>
                    <div class="box-content">
                        <h3> Name : @ViewBag.name</h3><br />
                        <div class="clearfix"></div>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th hidden>Sl no</th>
                                        <th>Exam Name</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Total Question</th>
                                        <th>Question Attemped</th>
                                        <th>Total Correct</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.test_result_dtl != null)
                                    {
                                        int i = 0;
                                        foreach (var item in ViewBag.test_result_dtl)
                                        {
                                            <tr>
                                                <td hidden>@(i += 1)</td>
                                                <td>@item.Exam_Name</td>
                                                <td>@item.StartTime</td>
                                                <td>@item.EndTime</td>
                                                <td>@item.Question_Nos</td>
                                                <td>@item.Question_Attempted</td>
                                                <td>@item.Total_Correct_Ans</td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                            <div class="form-group last">
                                <div class="col-sm-9 col-lg-7">
                                    <a href="@Url.Action("TestResult", "Teacher")" class="btn btn-inverse dropdown-toggle"><i class="fa fa-caret-left"></i> Back </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</form>