@model DigiChamps.Models.SchoolModel.StudyMaterialModel
@{
    ViewBag.Title = "AddStudyMaterial";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "danger";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@using (Html.BeginForm("AddStudyMaterial", "School", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Study Material</h3>

                    </div>
                    @if (!string.IsNullOrEmpty(@message))
                    {
                        <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            @message
                        </div>
                    }
                    <div class="box-content">

                        @Html.HiddenFor(x => x.Id, new { @class="StudyMaterialId"})

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Select Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">

                                @if (ViewBag.Class_Id != null)
                                {
                                    @(Html.DropDownListFor(x => x.Class_Id, (IEnumerable<SelectListItem>)ViewBag.ClassList, "Please Select Class", new { @class = "form-control", @id = "ddlClass", data_rule_required = "true", data_msg_required = "Please select class" }))
                                    @Html.HiddenFor(x => x.Class_Id)
                                }
                                else
                                {
                                    @(Html.DropDownListFor(x => x.Class_Id, (IEnumerable<SelectListItem>)ViewBag.ClassList, "Please Select Class", new { @class = "form-control", @id = "ddlClass", data_rule_required = "true", data_msg_required = "Please select class" }))
                                    @Html.ValidationMessageFor(x => x.Class_Id)
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Select Subject<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                @if (ViewBag.Subject_Id != null)
                                {
                                    @(Html.DropDownListFor(x => x.SubjectId, (IEnumerable<SelectListItem>)ViewBag.Subject_Id, "Please Select Subject", new { @class = "form-control", @id = "ddlSubject", data_rule_required = "true", data_msg_required = "Please select subject" }))
                                    @Html.HiddenFor(x => x.SubjectId)
                                }
                                else
                                {
                                    @(Html.DropDownListFor(x => x.SubjectId, (IEnumerable<SelectListItem>)ViewBag.Subject_Id, "Please Select Subject", new { @class = "form-control", @id = "ddlSubject", data_rule_required = "true", data_msg_required = "Please select subject" }))
                                    @Html.ValidationMessageFor(x => x.SubjectId)
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Title<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control" data-rule-required="true" data-msg-required="Please enter title.">
                                @Html.ValidationMessageFor(x => x.Title)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Topic<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">

                                <input type="text" name="Topic" id="Topic" value="@Model.Topic" class="form-control" data-rule-required="true" data-msg-required="Please enter topic">
                                @Html.ValidationMessageFor(x => x.Topic)
                            </div>
                        </div>

                        @*<div class="form-group input-cont" style="display:none;">
                            <label for="textfield5" class="col-sm-3  control-label">Material<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">

                                <input type="text" name="Material" id="Material" value="@Model.Material" class="form-control" data-rule-required="true" data-msg-required="Please enter study material2">

                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">select Material Type<span class="asterisk"></span></label>
                            <div class="col-sm-9  controls">

                                <label><input id="rbtUploadMaterial" type="radio" name="toggler" value="1" />Upload Material</label>
                                <label><input id="rbtWriteTxt" type="radio" name="toggler" value="2" />Write Text</label>

                            </div>
                        </div>

                        <div class="form-group toHide" id="blk-1" style="display:none">
                            <label for="textfield5" class="col-sm-3  control-label">Upload File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                @*<input type="file" value="Choose a file" name="File" id="studymaterial" data-rule-required="true" data-msg-required="Please enter file" />*@
                                <input type="file" value="Choose a file" name="File" id="studymaterial" />
                                @*accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,image/*"*@
                            </div>
                        </div>
                        <div class="form-group toHide" id="blk-2" style="display:none">
                            <label for="textfield5" class="col-sm-3  control-label">Write Material<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                @Html.TextAreaFor(x => x.MaterialText, new { @id = "txtMaterialText", @class = "form-control" })
                                @Html.HiddenFor(x => x.MaterialType)
                                
                            </div>
                        </div>

                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("GetstudyMaterialList", "School")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

  
}

@section scripts {
<script src="~/Student_assets/crop/scripts/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
           $("[name=toggler]").click(function () {
                $('.toHide').hide();
                $("#blk-" + $(this).val()).show('slow');
                if ($(this).val() == "1") {
                    $("#MaterialType").val("file");
                    $("#studymaterial").attr("data-rule-required", true);
                    $("#studymaterial").attr("data-msg-required", "Please enter file");
                    $("#txtMaterialText").removeAttr("data-rule-required");
                    $("#txtMaterialText").removeAttr("data-msg-required");
                }
                else {
                    $("#MaterialType").val("text");
                    $("#txtMaterialText").attr("data-rule-required", true);
                    $("#txtMaterialText").attr("data-msg-required", "Please enter study material");
                    $("#studymaterial").removeAttr("data-rule-required");
                    $("#studymaterial").removeAttr("data-msg-required");
                }
            });
         
            if ($("#MaterialType").val() != "" && $("#MaterialType").val() == "text"){
                $("#rbtWriteTxt").prop("checked", true);
            }
            if($("#MaterialType").val() != "" && $("#MaterialType").val() == "file"){
                $("#rbtUploadMaterial").prop("checked", true);
            }
            //Bind Material Type
            if ($(".StudyMaterialId").val() != "00000000-0000-0000-0000-000000000000" && $("#MaterialType").val() == "text") {
                $('.toHide').hide();
                $("#blk-2").show('slow');
            }
            else {
                $('.toHide').hide();
                $("#blk-1").show('slow');
                $("#MaterialType").val("file");
                $("#rbtUploadMaterial").prop("checked", true);
                $("#studymaterial").attr("data-rule-required", true);
                $("#studymaterial").attr("data-msg-required", "Please enter file");
                
            }
        });
        $('#validation-form').submit(function (e) {
            var status = true;
           
            //var fileData = new FormData();

            //fileData.append('ClassId', $('#ddlClass :selected').val())
            //fileData.append('SubjectId', $('#ddlSubject :selected').val())
            //fileData.append('Topic', $("#Topic").val())
            //fileData.append('MaterialText', $("#MaterialText").val())
            //fileData.append('MaterialType', $("#MaterialType").val())
            //alert("SM" + $("#MaterialType").val());
            if ($("#studymaterial").val() == '' && $("#MaterialType").val() == 'file') {
                status = false;
            }
            if ($("#txtMaterialText").val() == '' && $("#MaterialType").val() == 'text') {
                status = false;
            }
            if ($("#ddlClass").val() == '') {
                status = false;
            }
            if ($("#ddlSubject").val() == '') {
                status = false;
            }
            if ($("#Topic").val() == '') {
                status = false;
            }
            if (status) {
                $(".loader-ajax-container").css("display", "block");
            }
            else {
                status = false;
            }
            //$.ajax({
            //    type: 'POST',
            //    url: "/School/AddStudyMaterial",
            //    contentType: false, // Not to set any content header
            //    processData: false,
            //    data: fileData,
            //    success: function (data) {
            //        console.log(data);
            //        if (data)
            //            $(".loader-ajax-container").css("display", "none");
            //        window.location.href = '/School/GetStudyMaterial/';
            //    }
            //});

        });
    </script>
}