

@model DigiChamps.Models.SchoolModel.MessageCreation

@{
    ViewBag.Title = "Create Or Edit HomeWork";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@using (Html.BeginForm("CreateOrEditMessageCreation", "School", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form", enctype = "multipart/form-data" }))
    {

<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Message Creation</h3>

                </div>
                <div class="box-content">



                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Select Class<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                           @if (ViewBag.Class_Id != null)
                           {
                            @(Html.DropDownListFor(x => x.ClassId, ViewBag.Class_Id as SelectList, "Please Select Class", new { @class = "form-control", @id = "ddlClass", data_rule_required = "true", data_msg_required = "Please enter class" }))
                            @Html.HiddenFor(x => x.ClassId)
                           }
                           else
                           {
                            @(Html.DropDownListFor(x => x.ClassId, ViewBag.Class_Id as SelectList, "Please Select Class", new { @class = "form-control", @id = "ddlClass", data_rule_required = "true", data_msg_required = "Please enter class" }))
                            @Html.ValidationMessageFor(x => x.ClassId)
                           }




                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Select Section<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">

                            @if (ViewBag.Section_Id != null)
                            {
                                @(Html.DropDownListFor(x => x.SectionId, ViewBag.Section_Id as SelectList, "Please Select Section", new { @class = "form-control", @id = "ddlSection", data_rule_required = "true", data_msg_required = "Please enter section" }))
                                @Html.HiddenFor(x => x.SectionId)
                            }
                            else
                            {
                                @(Html.DropDownListFor(x => x.SectionId, ViewBag.Section_Id as SelectList, "Please Select Section", new { @class = "form-control", @id = "ddlSection", data_rule_required = "true", data_msg_required = "Please enter section" }))
                                @Html.ValidationMessageFor(x => x.SectionId)
                            }

                        </div>
                    </div>
                   
                    <div class="form-group input-cont">
                        <label for="textfield5" class="col-sm-3  control-label">Message<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">

                            <input type="text" name="Message" id="ConfirmPassword" value="@Model.Message" class="form-control" data-rule-required="true" data-msg-required="Please enter message">

                        </div>
                    </div>


                    @*<div class="form-group" style="display:none;">
                        <label for="textfield5" class="col-sm-3  control-label">Upload File<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">

                            <input type="file" value="Choose a file" accept="/*" id="path" name="path" data-rule-required="true" data-msg-required="Please upload file" />
                        </div>
                    </div>*@

                    @*Crop image in modal*@


                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                            <a href="@Url.Action("SchoolDashBoard", "School", new { id = new Guid(Session["id"].ToString()) })" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                            <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</form>

}