@model IEnumerable<DigiChamps.Models.SchoolModel.CreatePeriod>
@{
    ViewBag.Title = "Period List";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";

}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}


<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Period List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("AddPeriod","School")"><i class="fa fa-plus"></i><span> Add Period</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Title </th>
                                    <th>From time</th>
                                    <th>To time</th>
                                    <th style="display:none;">Id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.Title</td>
                                            <td>@item.FromTime</td>
                                            <td>@item.ToTime</td>
                                            <td style="display:none;">@item.Id</td>
                                            <td>
                                              
                                                @Html.ActionLink(" ", "AddPeriod", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-primary fa fa-edit", @title = "Edit" })
                                                @Html.ActionLink(" ", "DeletePeriod", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the role type?')", @data_original_title = "Delete", @title = "Delete" })


                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script>

    function Delete(id) {
        debugger
        $(".loader-ajax-container").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/Admin/DeleteSchool",
            contentType: false, // Not to set any content header
            processData: false,
            data: id,
            success: function (data) {
                $(".loader-ajax-container").css("display", "none");
                console.log(data.Data);
                if (data.Data)
                    window.location.reload();
            }
        });

    }
    $(document).ready(function () {
        if ('@message'.length > 0) {
            setTimeout(function () {
                $(".alertMsg").hide();
            }, 8000);
        }
    });
</script>