@model IEnumerable<DigiChamps.Models.SchoolModel.SchoolAdminOrPrincipleModel>

@{
    ViewBag.Title = "GetSchoolAdminList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}


<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> School Admin List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/AddSchoolAdmin/"><i class="fa fa-plus"></i><span> Add School Admin</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th> Admin Image </th>
                                    <th> Name </th>
                                    <th style="display:none;">SchoolId</th>
                                    <th style="display:none;">UserId</th>
                                    <th> Email </th>
                                    <th> Password </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        string imgSrc = System.IO.File.Exists(Server.MapPath(item.Image)) ? item.Image : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>
@if (!string.IsNullOrEmpty(imgSrc))
{
                                            <img src="@imgSrc" style="width:50px;height:50px;" />
}</td>
                                            <td>@item.FirstName @item.LastName</td>
                                            <td style="display:none;">@item.SchoolId</td>
                                            <td style="display:none;">@item.Id</td>
                                            <td>@item.EmailAddress</td>
                                            <td>@item.Password</td>
                                            <td>
                                                @Html.ActionLink(" ", "AddSchoolAdmin", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "View" })
                                                @Html.ActionLink(" ", "DeleteUserList", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete?')", @data_original_title = "Delete", @title = "Delete" })


                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script>

    function Delete(id) {
        debugger
        $(".loader-ajax-container").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/School/DeleteUserList",
            contentType: false, // Not to set any content header
            processData: false,
            data: id,
            success: function (data) {
                $(".loader-ajax-container").css("display", "none");
                console.log(data);
                if (data)
                    window.location.reload();
            }
        });

    }
</script>