@model DigiChamps.Models.DigiChampsModel.DigiChampsTeachershiftModel

@{
    ViewBag.Title = "Create Shift";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa fa-user"></i> Teacher
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-primary show-tooltip" href="/Admin/registration" data-toggle="tooltip" data-placement="top" title="User Registration"><span>U</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ViewAssignedCourse" data-toggle="tooltip" data-placement="top" title="Assign Course"><span>A</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ShiftMaster" data-toggle="tooltip" data-placement="top" title="Shift Creation"><span>S</span></a>
                    </div>
                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Teacher Shift Details</h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/Admin/TeacherShift" title="Create New Shift"><i class="fa fa-plus"></i><span>Add New</span> </a>
                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Teacher's Name</th>
                                    <th>Shift</th>
                                    <th>Day</th>
                                    <th>Effective Date</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.Teacher_Shift != null)
                                {
                                    int rowNo = 0;
                                    foreach (var v in ViewBag.Teacher_Shift)
                                    {

                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@v.Teacher_Name</td>
                                            @{

                                        string Snm = @v.Shift_Name + "(" + @v.Shift_From_Time + "to" + @v.Shift_To_Time + ")";
                                            }
                                            <td>@Snm</td>
                                            <td>@v.Shift_Days</td>

                                            @{
                                        DateTime s_dt = Convert.ToDateTime(v.Efective_Date);
                                            }
                                            <td>@s_dt.ToShortDateString()</td>
                                            <td>
                                                @Html.ActionLink(" ", "TeacherShift", "Admin", new { id = @v.Shift_teach_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })

                                                @Html.ActionLink(" ", "DeleteShift_Teacher", "Admin", new { id = @v.Shift_teach_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the teacher shift?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
