@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-graduation-cap"></i> User Group
                
            </h1>
        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Group Details</h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/Admin/Addusergroup"><i class="fa fa-plus"></i><span> Add New</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                   
                                    <th>Group Code</th>
                                    <th>Group Name</th>
                                    <th>Created Date</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Group != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.Group)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.ROLE_CODE</td>
                                            <td>@item.ROLE_TYPE</td>
                                            <td>@item.INSERTED_DATE</td>
                                            <td>
                                                @Html.ActionLink(" ", "EditGroup", "Admin", new { id = @item.ROLE_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })

                                                @Html.ActionLink(" ", "DeleteGroup", "Admin", new { id = @item.ROLE_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the user group?')", @data_original_title = "Delete", @title = "Delete" })

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

