@model DigiChamps.Models.DigiChampsModel.DigiChampsMAILConfigModel

@{
    ViewBag.Title = "Mail Configuration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("MAILConfiguration", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-content-wrap">
        <div class="page-title">
            <div>
                <h1>
                    <i class="fa fa-envelope-o"></i> Mail
                    <div class="btn-toolbar pull-right">
                        <div class="box-tool">
                            <a class="btn btn-primary show-tooltip" href="/Admin/SMTPconfiguration" data-toggle="tooltip" data-placement="top" title="Smtp"><span>S</span></a>
                        </div>
                    </div>
                </h1>

            </div>
        </div>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file-text"></i>Mail Details</h3>
                        <div class="box-tool">
                            <a href="/Admin/AddMailConfig" class="btn btn-inverse"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="clearfix"></div>
                        <div class="table-responsive voffset3" style=" border:0">
                            <table class="table table-advance" id="table1">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Alert Name</th>
                                        <th>Sender Name</th>
                                        <th>Subject</th>
                                        <th>Alert Body</th>
                                        @*<th>EmailConf_Alert</th>*@
                                        <th style="width: 150px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{   int i = 1;
                                    }
                                    @if (ViewBag.data != null)
                                    {
                                        foreach (var b in ViewBag.data)
                                        {
                                            <tr id="smt">
                                                <td>@Html.Raw(i++)</td>
                                                <td>@b.EmailConf_Alert</td>
                                                <td>@b.SMTP_Sender</td>
                                                <td>@b.Email_Subject</td>
                                                <td>
                                                    <span>
                                                        @{string qst = Convert.ToString(b.EmailConf_Body);
                                                        }
                                                    </span>
                                                    @if (qst.Length > 90)
                                                    {
                                                        @qst.Substring(0, 80) <text>...</text>
                                                    }
                                                    else
                                                    {
                                                        @qst
                                                    }

                                                </td>
                                                @*<td>@b.Email_AlertName</td>*@

                                                <td>

                                                    @Html.ActionLink(" ", "AddMailConfig", "Admin", new { id = @b.EmailConf_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })


                                                    @Html.ActionLink(" ", "DeleteMailConfig", "Admin", new { id = @b.EmailConf_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the mail?')", @data_original_title = "Delete", @title = "Delete" })


                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="~/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
}