@model IEnumerable<DigiChamps.Models.VW_Prebook_Students>
@{
    ViewBag.Title = "Prebook Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-user-plus"></i>Prebook Customers
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-list-ul"></i>Search Prebook By Date </h3>
                </div>
                <div class="box-content">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="">
                                @using (Html.BeginForm("prebook_user", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group last box-tooll">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-user-plus"></i> Prebooked Students</h3>
                    <div class="box-tool box-tooll">
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i><span>XLS</span></a>
                        <a href="@Url.Action("prebook_user", "Admin")" class="btn btn-primary dropdown-toggle"><i class="fa fa-refresh"></i><span>Refresh</span></a>
                                          </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Reg. No</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>School</th>
                                    <th>Is Paid</th>
                                    <th>Order Status</th>
                                    <th style="width: 20%;">Prebooking Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{   int i = 1;}
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Regd_No</td>
                                            <td>@item.Customer_Name</td>
                                            <td>
                                                @item.Mobile
                                            </td>
                                            <td>@item.School_Name<br />
                                            @item.Class</td>
                                            <td>
                                                @if (item.Is_Active == true && item.Is_Deleted == false)
                                                {
                                                    if (@item.Amount!=null)
                                                    {
                                                         <text>Amount : </text> @item.Amount
                                                    }
                                                   
                                                }
                                                else {
                                                <span class="label label-warning">Due</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Ord_Status == true)
                                                {
                                                    <span class="label label-success">Ordered</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">Pending</span>
                                                }
                                            </td>
                                            <td>@item.Inserted_Date</td>
                                            
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
    <script src="~/js/plugins/tableexport/html2canvas.js"></script>
    <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
    <script src="~/js/plugins/tableexport/tableExport.js"></script>
}