@model DigiChamps.Models.DigiChampsModel.DigiChampsTaxMasterModel
@{
    ViewBag.Title = "Tax Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("TaxMaster", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
{
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Tax Master</h3>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Tax Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.TaxType_ID, ViewBag.servicetype as SelectList, "Select  Tax  Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select tax type", @id = "ddl_tax_type" }))
                                @Html.ValidationMessageFor(x => x.TaxType_ID)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Tax Rate<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="hidden" value="@ViewBag.taxratee" id="hdtaxrateid" name="hdtaxrateid" />
                                @(Html.TextBoxFor(m => m.Tax_Rate, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter tax rate", @id = "txt_tax_rate" }))
                                @Html.ValidationMessageFor(x => x.Tax_Rate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Tax Effect Date<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" placeholder="@DateTime.Now.ToShortDateString()" value="@ViewBag.efectdate" autocomplete="off" data-rule-required="true" data-msg-required="select effective date" name="TAX_Efect_Date" class="datepicker form-control" />
                                @*@Html.TextBoxFor(m => m.TAX_Efect_Date, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter Effectdate",@id="tax_effect_date" })*@
                            </div>
                        </div>
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewTaxMaster", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i><span> Back</span></a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                             
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn_clr').click(function () {
                $("#tax_effect_date").val("");
                $("#txt_tax_rate").val("");
                $('#ddl_tax_type').val(0).attr('Select  Tax  Type', 'Select  Tax  Type');
            });

            $('.delete').click(function (e) {
                debugger;
                e.preventDefault();
                var id = $(this).data('id');
                $('#item-to-delete').val(id);
                $.ajax({
                    type: "POST",
                    url: "/Admin/DeleteTaxRatevalue",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                    }
                });
            });
            $('.mySubmit').click(function () {
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/Admin/DeleteTaxRate",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                    }
                });
            });
        });

    </script>
} 