@{
    ViewBag.Title = "Teacher Batch Assign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-graduation-cap"></i> Academic
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-primary show-tooltip" href="/Admin/BoardMaster" data-toggle="tooltip" data-placement="top" title="Board"><span>B</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ClassMaster" data-toggle="tooltip" data-placement="top" title="Class" data-original-title="Class"><span>C</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/SubjectMaster" data-toggle="tooltip" data-placement="top" title="Subject"><span>S</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ChapterMaster" data-toggle="tooltip" data-placement="top" title="Chapter"><span>C</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/Topics" data-toggle="tooltip" data-placement="top" title="Topics"><span>T</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ShowTopicStartegic" data-toggle="tooltip" data-placement="top" title="Topic Startegic"><span>T</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/CentreMaster" data-toggle="tooltip" data-placement="top" title="Centre"><span>C</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/BatchMaster" data-toggle="tooltip" data-placement="top" title="Batch"><span>B</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/Power" data-toggle="tooltip" data-placement="top" title="Power"><span>P</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/Percentage-Entry" data-toggle="tooltip" data-placement="top" title="Percentage Entry" data-original-title="Percentage Entry"><span>P</span></a>

                    </div>
                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Batch Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Admin/AddBatchAssign" class="btn btn-primary"><i class="fa fa-plus"></i><span>Add New </span> </a>
                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th hidden="hidden">Id</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Batch Name</th>
                                    <th>Teacher Name</th>
                                    @*<th>Student Name</th>*@
                                    <th style="width: 10%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Assign_Details != null)
                                {
                                    int rowNo = 0;
                                    int batid = 0;
                                    foreach (var item in ViewBag.Assign_Details)
                                    {
                                        if (batid != item.Batch_Assign_Id)
                                        {
                                            batid = item.Batch_Assign_Id;
                                            <tr>
                                                <td>@(rowNo += 1)</td>
                                                <td hidden="hidden">@item.Batch_Assign_Id</td>
                                                <td>@item.Board_Name</td>
                                                <td>@item.Class_Name</td>
                                                <td>@item.Subject</td>
                                                <td>@item.Batch_Name</td>
                                                <td>@item.Teacher_Name</td>
                                                @*<td>@item.Customer_Name</td>*@

                                                @*<td>

                                                            @{
                                                    DateTime dtf = Convert.ToDateTime(item.Batch_From_Time);
                                                            }
                                                            @dtf.ToShortTimeString()

                                                        </td>
                                                        <td>
                                                            @{
                                                    DateTime dt = Convert.ToDateTime(item.Batch_To_Time);
                                                            }
                                                            @dt.ToShortTimeString()
                                                        </td>
                                                        <td>@item.Batch_Days</td>
                                                        <td>@item.Batch_Code</td>
                                                        <td hidden>
                                                            @{
                                                    int id = Convert.ToInt32(item.Centre_Id);
                                                    DigiChamps.Models.DigiChampsEntities dg = new DigiChamps.Models.DigiChampsEntities();
                                                    var name = dg.tbl_DC_Centre.Where(x => x.Centre_Id == id).Select(x => x.Centre_Name).FirstOrDefault();
                                                            }

                                                        </td>
                                                        <td>
                                                            @name
                                                        </td>*@
                                                <td>

                                                    @Html.ActionLink(" ", "AddBatchAssign", "Admin", new { id = @item.Batch_Assign_Id }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View" })

                                                    @Html.ActionLink(" ", "Delete_BatchAssign", "Admin", new { id = @item.Batch_Assign_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the batch?')", @data_original_title = "Delete", @title = "Delete" })

                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Teacher Batch Details</h3>

                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Batch Name</th>
                                    <th>Teacher Name</th>
                                    <th style="width: 10%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Assign_Details != null)
                                {
                                    int rowNo = 0;

                                    foreach (var item in ViewBag.teacherbatch)
                                    {
                                        <tr>
                                            <td>
                                                @(rowNo += 1)
                                            @{
                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                        int subject_id = Convert.ToInt32(item.Subject_Id);
                                        int teacher_id = Convert.ToInt32(item.Teach_ID);
                                        int batch_id = Convert.ToInt32(item.Batch_Id);
                                        int teacher = Convert.ToInt32(item.Teach_ID);
                                        int classs = Convert.ToInt32(item.Class_Id);
                                        int bo = Convert.ToInt32(item.Board_Id);
                                        var subject = DbContext.tbl_DC_Subject.Where(x => x.Subject_Id == subject_id).FirstOrDefault();
                                        var tecaher = DbContext.tbl_DC_Teacher.Where(x => x.Teach_ID == teacher_id).FirstOrDefault();
                                        var batch = DbContext.tbl_DC_Batch.Where(x => x.Batch_Id == batch_id).FirstOrDefault();
                                        var teach = DbContext.tbl_DC_Teacher.Where(x => x.Teach_ID == teacher).FirstOrDefault();
                                        var classss = DbContext.tbl_DC_Class.Where(x => x.Class_Id == classs).FirstOrDefault();
                                        var bod = DbContext.tbl_DC_Board.Where(x => x.Board_Id == bo).FirstOrDefault();
                                            }


                                        </td>
                                        <td>@bod.Board_Name</td>
                                        <td>@classss.Class_Name</td>
                                        <td>@subject.Subject</td>
                                        <td>@batch.Batch_Name</td>
                                        <td>@tecaher.Teacher_Name</td>
                                        <td>


                                            @Html.ActionLink(" ", "Delete_teach", "Admin", new { id = @item.Batch_Assign_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the batch?')", @data_original_title = "Delete", @title = "Delete" })

                                        </td>
                                    </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
