@model IEnumerable<DigiChamps.Models.View_All_Student_Details>
@{
    ViewBag.Title = "User Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Users Report
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Students</h3>
					 <div class="box-tool box-tooll">
                     
                           <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>
                    
                   </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Reg. No</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
									 <th>Email</th>
                                    <th>Date</th>
                                    <th>School</th>
                                    <th>Class</th>
                                    <th>Users Status</th>
                                    <th style="width: 10%;">View</th>
                                    <th style="width: 10%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{   int i = 1;}
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.Raw(i++)</td>
                                            <td>@item.Regd_No</td>
                                            <td>@item.Customer_Name</td>
                                            <td>
                                                @item.Mobile
                                            </td>
											<td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @if (@item.Inserted_Date!=null)
                                                {
                                                         @item.Inserted_Date
                                                }
                                           
                                            </td>
                                            <td>
                                                @item.Organisation_Name
                                            </td>
                                            <td>
                                                @item.Class_Name
                                            </td>
                                            <td>
                                                @if (item.STATUS == "A")
                                                { 
                                                    <span class="label label-success">Active</span>
                                                }
                                                else { 
                                                <span class="label label-warning">Inactive</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink(" ", "ViewStudent", "Admin", new { id = @item.Regd_ID }, new { @class = "glyphicon glyphicon-list-alt", @title = "View Details" })
                                            </td>
                                            <td>
                                                @if (item.STATUS == "A")
                                                {
                                                    if (item.IS_ACCEPTED == true)
                                                    {
                                                        @Html.ActionLink(" Block", "Blockuser", "Admin", new { id = @item.Regd_ID }, new { @class = "glyphicon glyphicon-ban-circle", @title = "Block User" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink(" Unblock", "Blockuser", "Admin", new { id = @item.Regd_ID }, new { @class = "glyphicon glyphicon-check", @title = "Unlock User" })
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   <script>
       $("#validation-form").validate();
   </script>
   <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
   <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
   <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
   <script src="~/js/plugins/tableexport/html2canvas.js"></script>
   <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
   <script src="~/js/plugins/tableexport/tableExport.js"></script>
}