@model IEnumerable<DigiChamps.Models.tbl_DC_Sms_API>
@{
    ViewBag.Title = "View Smsapi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-comments-o"></i> SMS
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-primary show-tooltip" href="/Admin/sms_templates" data-toggle="tooltip" data-placement="top" title="Sms Template"><span>S</span></a>
                    </div>
                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i>Sms API Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Admin/add_Smsapi" class="btn btn-primary"><i class="fa fa-plus"></i><span> Add New</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>API Name</th>
                                    <th>URL</th>
                                    <th>Type</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @{   int i = 1;}
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@Html.Raw(i++)</td>
                                            <td>@item.Api_Name</td>
                                            <td>@item.Api_Url</td>
                                            <td>@item.Message_Type</td>
                                            <td>

                                                @Html.ActionLink(" ", "add_Smsapi", "Admin", new { id = @item.Api_Id }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })


                                                @Html.ActionLink(" ", "delete_Smsapi", "Admin", new { id = @item.Api_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the API?')", @data_original_title = "Delete", @title = "Delete" })

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
