@{
    ViewBag.Title = "View Teacher Ticket Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form id="Ticke_form" class="form-horizontal">
    <div class="page-content-wrap">
        <div class="page-title">
            <div>
                <h1>
                    <i class="fa fa-file-o"></i> Teacher Ticket Report
                    <div class="btn-toolbar pull-right">
                        <div class="box-tool">
                        </div>
                    </div>
                </h1>

            </div>
        </div>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-table"></i> Ticket Report Details</h3>
                        <div class="box-tool box-tooll">
                           <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i><span>XLS</span></a>
                            @*<a href="#" class="btn btn-inverse dropdown-toggle" onclick="$('#table1').tableExport({ type: 'pdf', escape: 'false' });"><i class="fa fa-file-pdf-o"></i> PDF</a>*@
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="btn-toolbar pull-right clearfix">
                            <div class="btn-group">
                                <a class="btn btn-circle show-tooltip" title="Refresh" href="/Admin/ViewTeacherReportDetail"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                        <br /><br />
                        <div class="clearfix"></div>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th>Teacher Name</th>
                                        <th>Assigned</th>
                                        <th>Closed</th>
                                        <th>Rejected</th>
                                        <th>Overdue</th>
                                        <th>Open</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Teacher != null)
                                    {

                                        foreach (var item in ViewBag.Teacher)
                                        {
                                            <tr>
                                                <td>@item.Teacher_Name</td>
                                                <td>@item.totalticket</td>
                                                <td>@item.Closeticket</td>
                                                <td>@item.Rejectticket</td>
                                                <td>@item.Overdueticket</td>
                                                <td>@item.Openticket</td>
                                                <td>
                                                    @Html.ActionLink(" ", "TeacherTicket", "Admin", new { id = @item.Teach_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Ticket" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modal_3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i>Message</h3>
            </div>
            <div class="modal-body">
                <h5></h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i>Ticket Details</h3>
            </div>
            <div class="modal-body">
                <label for="textfield5" class="control-label">
                    Question <span class="asterisk">*</span>
                </label>
                <p id="Ticket_p"></p>

                <label for="textfield5" class="control-label">
                    Created on <span class="asterisk">*</span>
                </label><p id="Ticket_d"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".blue").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "/Teacher/tooltip_ticket_details",
                    data: { id: $(this).attr('value') },
                    dataType: "json",
                    success: function (data) {
                        if (data[0] == "No data found") {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[0]);
                            $("#modal_4").modal("show");
                        } else {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[1]);
                            $("#modal_4").modal("show");
                        }

                    }
                });
            });
        });
    </script>
<script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
<script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
<script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
<script src="~/js/plugins/tableexport/html2canvas.js"></script>
<script src="~/js/plugins/tableexport/jquery.base64.js"></script>
<script src="~/js/plugins/tableexport/tableExport.js"></script>

}
